* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}




h1 {
    color: red;
    text-align: center;
    border: 4px dashed black;

    margin: 60px 10px 70px 50px;

}


body {
    border: 5px solid red;
}