* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



.menu-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: azure;




}


img{
    width: 80px;
}


/* .heading-name{
    color: red;

    font-size: 74px;
}


.zohaib-heading {
    color: green;
} */