* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
    background-color: rgba(46, 139, 86, 0.384);

    /* border: 2px solid rgb(47, 0, 255); */
}


.logo-container {
    display: flex;
    /* justify-content: space-between; */


    align-items: center;

    gap: 1rem;


    /* border: 2px solid red; */
}


.logo-image {
    width: 80px;
}


.logo-container h1 {
    font-size: 18px;
}

.buttons{
    display: flex;
    align-items: center;
    list-style: none;

    justify-content: space-between;

    /* border: 2px solid red; */

    gap: 36px;
}


.buttons li {

    background-color: rgb(244, 255, 244);

    padding: 0.5rem 1rem;

    border-radius: 0.3rem;
    cursor: pointer;

}


.buttons li:hover{
    background-color: seagreen;
    color: whitesmoke;
}