* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: rgb(156, 13, 13);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;


    gap: 2rem;

    overflow-x: scroll;

    border: 3px solid yellow;

    /* width: 100%; */
}





header div {

    /* padding: 1rem; */

    color: whitesmoke;

    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;


    gap: 1rem;




}





header div {
    border: 3px solid yellow;

    padding: 0.5rem;
    border-radius: 1rem;

    flex-shrink: 0;


}


header div img {
    width: 4rem;

}





.search-container{
    /* border: 2px solid black; */
    display: flex;
    
    justify-content: center;
    align-items: center;

    /* margin: 2rem auto;

    width: 90%;

    background-color: gainsboro;

    padding: 2rem; */



    /* width: 90%; */


    background-color: rgb(193, 193, 193);

    padding: 2rem;



   position: relative;

    

}



.search-container input {
    padding: 1rem;
    width: 100%;

    border-radius: 2rem;
    outline: none;
    border: 1.3px solid red;
    
}



.search-container img {
    transform: rotate(180deg);

    position: absolute;


    right: 4rem;

    

}

.examplekaparent{
    background-color: rebeccapurple;

    position: relative;
    
    
}



.example {
    position: absolute;
    top: 0;
    left: 12rem;
}